.tbimg{
    width: 280px; 
    height: auto; 
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 10px;
    margin-left: 10px; 
    
}
a.change-color {
    color: rgb(0, 0, 0);
    text-decoration: none; 
    cursor: pointer; 
}